*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a, a:focus, a:active, a:hover{
    color: inherit;
    text-decoration: none;
}
.container{
    max-width: 152rem;
    margin: 0 auto;
}
body{
    font-size: 1.6rem;
    background: #f9f9f9;
}
.fp-watermark{
    display: none;
}

html {
    font-size: calc(100vw / 1920 * 10);
}

/* HEADER */ 

header.desktop-header{
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.04);
    background: white;
}
header.desktop-header .header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 10px;
    border-bottom: 1px solid #EBEBEB;
}
.gsap-marker-scroller-start{
    display: none !important;
}
.gsap-marker-scroller-end{
    display: none !important;
}
header.desktop-header .header-top .left ul{
    display: flex;
    align-items: center;
    gap: 10px;
}
header.desktop-header .header-top .left ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
}
.left::-webkit-scrollbar{
    display: none;
}
header.desktop-header .header-top .left img{
    width: 3.2rem;
    height: 3.2rem;
}
.header-mobile{
    display: none;
}
header.desktop-header .header-top .center img{
    height: 6rem;
    width: auto;
}
header.desktop-header .header-top .right{
    display: flex;
    gap: 4rem;
    align-items: center;
}
header.desktop-header .header-top .right img{
    height: 2.6rem;
    width: auto;
}
header.desktop-header .header-top .right .left a{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--2, #515151);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134%; /* 21.44px */
}
header.desktop-header .header-top .right .right{
    color: #077AE2;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 118%; /* 18.88px */
}
header.desktop-header .header-bottom{
    color:  #515151;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 94.4%; /* 15.104px */
}
header.desktop-header .header-bottom ul{
    display: flex;
    justify-content: space-between;
}
header.desktop-header .header-bottom a{
    display: block;
    padding: 3rem 0;
}
header.desktop-header .header-bottom a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
header.desktop-header .header-bottom a:hover{
    font-weight: 600;
}
a.my-btn{
    display: block;
    padding: 16px 36px;
    border-radius: 40px;
    background: #FFCF24;
    color: var(--, #212121);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 134%; /* 26.8px */
    width: fit-content;
}
header.desktop-header .content{
    display: block!important;
}



/* SECTION MINUS */

section.minus{
    position: relative;
    display: block;
    height: 100vh;
}
section.minus .content{
    padding-top: 10rem;
}
section.minus .for-img > img{
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}
section.minus .container{
    height: 100%;
}
section.minus .content{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    height: 100%;
}
section.minus .content > *{
    flex: 1;
}
section.minus .content .right img{
    width: 100%;
    height: auto;
}
section.minus .fp-overflow{
    height: 100%;
}
section.minus .content .left .descr{
    color:  #212121;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 29.64px */   
    margin-bottom: 30px; 
}
section.minus .content .left h2{
    position: relative;
    color:  #212121;
    font-size: 5.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 69.16px */
    margin-bottom: 40px;
}
section.minus .content .left h2::after{
    display: block;
    content: "";
    position: absolute;
    width: 35%;
    height: 3px;
    background: #FFCF24;
    margin: 10px 0;
    top: 100%;
    left: 0;
}
section.minus .content .title{
    color: #F5C61F;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 800;
    line-height: 123.5%; /* 59.28px */
    margin-bottom: 40px;
}
section.minus .content ul{
    margin-left: 15px;
    list-style: inside;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 10rem;
}
section.minus .content li{
    color:  #212121;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 44.46px */
}
section.minus .content .dop{
    position: relative;
    color: #9DABB7;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
section.minus .content .dop::after{
    display: block;
    content: "";
    position: absolute;
    width: 35%;
    height: 3px;
    background: #FFCF24;
    margin: 10px 0;
    top: 100%;
    left: 0;
}


/* SECTION ZERO */

section.zero{
    background: url("/assets/img/back-zero.png") center center no-repeat!important;
    background-size: 100% 100%!important;
}
section.zero h2{
    margin-bottom: 4rem;
    color: var(--, #212121);
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 123.5%; /* 44.46px */
}
section.zero .left img{
    width: 90px;
}
section.zero .wrap, section.zero .wrap .left, section.zero .wrap .right, section.zero .wrap .left .el{
    /* height: unset!important; */
}
section.zero .wrap .left .el{
    height: 70rem!important;
    gap: 20px;
    justify-content: stretch;
    justify-items: stretch;
}
section.zero .left .el > img{
    object-fit: cover;
}
section.zero .wrap{
    height: 70rem!important;
}
section.zero .show{
    position: static!important;
    padding: 30px!important;
}
section.zero .right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: stretch!important;
    justify-items: stretch;
    height: 70rem;
}
section.zero .right h3{
    position: relative;
    text-align: left!important;
    margin-bottom: 4rem!important;
    font-size: 2.8rem!important;
}
section.zero .right h3::after{
    display: block;
    content: "";
    position: absolute;
    width: 15%;
    height: 3px;
    background: #FFCF24;
    margin: 10px 0;
    top: 100%;
    left: 0;
    margin: 20px 0;
}
section.zero .right .con{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    margin-bottom: 35px;
}
section.zero .right .con::after{
    display: block;
    content: "";
    position: absolute;
    width: 15%;
    height: 3px;
    background: #FFCF24;
    margin: 10px 0;
    top: 100%;
    left: 0;
    margin: 20px 0;
}
section.zero .right .con .item{
    flex: calc(50% - 20px);
}
section.zero .right .con .city{
    color:  #738390;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}
section.zero .right .con .tel{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #212121;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
section.zero .right .con .lit .tel{
    font-size: .9em;
}
section.zero .right .con img{
    width: 25px!important;
}
section.zero .right .dop{
    color: #738390;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
section.zero .right .el{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 70rem;
    justify-content: stretch;
    justify-items: stretch;
}

section.zero .wrap .el > img{
    height: 25rem;
}
section.zero .right .el > img{
    height: 23rem;
}




/* SECTION MAIN */

section.main{
    position: relative;
    display: block;
    height: 100vh;
}
section.main img.main-left{
    position: absolute;
    height: 85%;
    left: 0;
    bottom: 0;
    z-index: -1;
}
section.main > .container{
    height: 100%;
}
section.main .content{
    display: flex;
    align-items: center;
    margin-top: 5rem;
}
section.main .content > *{
    flex: 1;
}
section.main h1{
    color: var(--, #212121);
    font-size: 10rem;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 111.15px */
    margin-bottom: 10rem;
}
section.main h1 span{
    color:  #F5C61F;
}
section.main .descr{
    color:  #212121;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 35px;
}
section.main .right img{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: -1;
    object-fit: contain;
}
section.main .right video{
    width: 110rem;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: 13%;
    left: 45%;
}
section.main{
    height: 95rem;
}
section.main .fp-overflow{
    height: 100%;
}
section.main .fp-overflow .container{
    height: 80%;
}
section.main{
   overflow: hidden;
}




/* SECTION TWO */

section.two{
    position: relative;
    margin-top: 20px;
}
section.two .content{
    padding: 40px 0 10rem
}
section.two .wrap{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 8rem;
}
section.two .wrap .item{
    flex: 1;
    padding: 25px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 8px;
    box-shadow: 2px 2px 40px 6px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: all ease .3s;
}
section.two .wrap .item:hover{
    background: #FFCF24;
}
section.two .wrap .item:hover img{
    display: none;
}
section.two .wrap .item:hover img.none{
    display: block!important;
}
section.two .wrap .item img{
    height: 10rem;
    width: auto;
}
section.two .wrap .item .text{
    color: #2D2D2D;
    text-align: center;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
section.two h2{
    position: relative;
    color: var(--, #212121);
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 44.46px */
    width: fit-content;
    margin: 0 auto;
}
section.two h2::after{
    display: block;
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background: #FFCF24;
    margin: 10px 0;
    top: 100%;
    left: 10%;
}
section.two img.airplane{
    position: absolute;
    right: 0;
    top: 25%;
    width: 25%;
    z-index: -1;
}
section.two img.back-right{
    position: absolute;
    right: 0;
    top: -5%;
    height: 30%;
}
section.two img.back-left{
    position: absolute;
    left: 0;
    top: 60%;
    height: 30%;
}
section.two .descr{
    color: var(--, #212121);
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 40px;
}
section.two .wrap2{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
section.two .wrap2 .col{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section.two .wrap2 .item{
    border-radius: 8px;
    background: white;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 2px 2px 40px 6px rgba(0, 0, 0, 0.06);
}
section.two .wrap2 .item img{
    width: 6rem;
    height: auto;
}
section.two .wrap2 .item ul{
    list-style: outside;
    margin-left: 30px;
}
section.two .wrap2 .item .title{
    color: var(--, #212121);
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
    width: 90%;
}
section.two .wrap2 .item .text{
    color: var(--, #212121);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
section.two .wrap2 .item .text li {
    margin-bottom: 8px;
}



/* SECTION THREE */

section.three{
    position: relative;
    height: 3000px;
    display: flex;
    justify-content: center;
}
section.three img.back{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.parallax img.back-main{
    position: sticky;
    width: 80%;
    left: 0;
    top: 0;
    z-index: 0;
}
section.three .container {
    position: absolute;
    top: 0;
    width: 100%;
}
section.three .content{
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
}
section.three .content .right{
    flex: 1.2;
}
section.three .content .left{
    flex: 1;
}
.parallax .iphone {
    width: 60%;
    left: 3%;
    position: sticky;
    top: 50%;
    transform: translateY(-48%);
}
.parallax {
    position: relative;
    display: flex;
    flex-direction: column;
}
section.three .item {
    /* Установите начальные стили элемента */
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
  }
.title-section-three {
    position: sticky;
    top: 0%;
    z-index: 8;
}
section.three h2{
    color: var(--, #212121);
    font-size: 4rem;
    text-align: right;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 44.46px */
    position: relative;
}
section.three h2::after{
    display: block;
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    background: #FFCF24;
    margin: 10px 0;
    top: 100%;
    right: 0
}
section.three .descr{
    color: var(--, #212121);
    text-align: right;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 80px;
}
section.three .wrap{
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-bottom: 100px;
    margin-top: 600px;
}
section.three .wrap .item{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-end;
}
section.three .wrap .item img{
    height: 90px;
    width: auto;
}
section.three .wrap .item .text{
    background: white;
    border-radius: 8px;
    box-shadow: 2px 2px 40px 6px rgba(0, 0, 0, 0.06);
    display: flex;
}
section.three .wrap .item .text .dop{
    padding: 24px;
    padding-right: 15px;
    color: var(--, var(--, #212121));
    text-align: right;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
section.three .wrap .item .text .num{
    padding: 24px;
    padding-left: 15px;
    border-left: 1px solid #FFCF24;
    color: #5D5D5D;
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 59.28px */
}



/* SECTION FOUR */

section.four{
    position: relative;
    height: 100vh;
    z-index: 9999;
}
section.four img.back{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
section.four .content{
    padding: 80px 0;
}
section.four h2{
    color: var(--white, #FFF);
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 44.46px */
    margin-bottom: 60px;
}
section.four .wrap{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
section.four .wrap .left{
    flex: 1;
}
section.four .wrap .right{
    flex: 1.2;
}
section.four .wrap .left img{
    width: 100%;
}
section.four .right{
    display: flex;
    gap: 15px;
    align-items: center;
}
section.four .right ul{
    display: none;
    flex-direction: column;
    gap: 28px;
    align-items: center;
}

section.four .right .text .item.active ul {
    display: flex;
}

section.four .right .text .item.item.active .content-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
section.four .right li{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1rem;
    background-color: #D9D9D9;
    text-indent: 150%;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease .3s;
    margin: 0 27px;
}
section.four .right li.active{
    text-indent: 0;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 32px;
    background: #FFCF24;
    color:  #FFF;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 49.4px */
    margin: 0;
}
section.four .right .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section.four .right .text .item{
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all ease .3s;
}
section.four .right .text .item.item.active{
    border-radius: 8px;
    background: #8496A5;
    box-shadow: 0px 0px 10px 6px rgba(50, 50, 50, 0.20);
    padding: 24px;
    display: flex;
    flex-direction: row;
}
section.four .right .text .title{
    color: rgba(255, 255, 255, 0.40);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
    transition: all ease .3s;
}
section.four .right .text .dop{
    display: none;
    transition: all ease .3s;
}
section.four .right .item.active .title{
    color: white;
}
section.four .right .item.active .dop{
    display: block;
    color:  #FFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

section.four .back_elem_3 {
    position: absolute;
    right: 10%;
    top: 50px;
    width: 60rem;
}


/* SECTION FIVE */

section.five{
    position: sticky;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    top: -10%;
}
section.five img.back{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
section.five img.dop{
    position: absolute;
    width: 50%;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
}
section.five .content{
    padding: 60px 0 80px;
    margin-top: 150px;
    z-index: 99999999;
    position: relative;
}
section.five h2{
    color: var(--white, #FFF);
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 44.46px */
    width: 60%;
    margin-bottom: 60px;
}
section.five .wrap{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 75%;
}
section.five .wrap .item{
    color: var(--, #212121);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 16px 24px;
    border-radius: 40px;
    background: #FFF;
    transition: all ease .2s;
    cursor: pointer;
}
section.five .item:hover{
    background: #FFCF24;
}



/* SECTION SIX */

section.six{
    position: relative;
    background: white;
    z-index: 999;
    overflow: hidden;
}
section.six img.main{
    position: absolute;
    top: 30rem;
    right: 0;
    width: 145rem;
    height: 131rem;
    z-index: 0;
}
section.six .content{
    padding: 10rem 0 0;
    width: 100%;
    height: 100%;
}
section.six .container{
    width: 100%;
    height: 100%;
}
section.six h2{
    position: relative;
    color: #212121;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 44.46px */
    width: 60%;
}
section.six h2::after{
    display: block;
    content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    background: #FFCF24;
    margin: 10px 0;
    top: 100%;
    left: 0;
}
section.six .descr{
    color:  #212121;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-top: 30px;
    width: 60%;
}
section.six .wrap{
    position: relative;
    height: 100%;
    width: 100%;
}
section.six .wrap .item{
    position: absolute;
    text-align: center;
    color: var(--, var(--, #212121));
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
section.six .dop{
    position: absolute;
    bottom: 8%;
    right: 10%;
    width: 40%;
    text-align: right;
    color: var(--, var(--, #212121));
    text-align: right;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
section.six .wrap .item:nth-child(1){
    top: -5rem;
    right: -10rem;
    width: 40rem;
}
section.six .wrap .item:nth-child(1) img{
    width: 22rem;
    height: 8.9rem;
}
section.six .wrap .item:nth-child(2){
    top: 10rem;
    left: 37rem;
    display: flex;
    align-items: center;
}
.section.six .wrap .item:nth-child(2) img{
    width: 19.2rem;
    height: 11rem;
}
section.six .wrap .item:nth-child(3){
    top: 30rem;
    right: -5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
section.six .wrap .item:nth-child(3) img{
    width: 18.9rem;
    height: 14.6rem;
}
section.six .wrap .item:nth-child(4){
    top: 42rem;
    left: 75rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;    
}
section.six .wrap .item:nth-child(4) img{
    width: 13.9rem;
    height: 31rem;
}
section.six .wrap .item:nth-child(4) .text{
    margin-bottom: 2rem;
}
section.six .wrap .item:nth-child(5){
    top: 40rem;
    left: 0;
    align-items: flex-end;    
}
section.six .wrap .item:nth-child(5) img{
    width: 38.8rem;
    height: 15rem;
}
section.six .wrap .item:nth-child(6){
    top: 68rem;
    left: 35rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
}
section.six .wrap .item:nth-child(6) img{
    width: 41.8rem;
    height: 12.1rem;
}
section.six img.wrap-img{
   opacity: 0;
   width: 80%;
   margin-top: 50px;
   position: relative;
   z-index: -1;
}



/* SECTION SEVEN */


section.seven{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    background: #f9f9f9;
}
section.seven h2{
    color: #212121;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 44.46px */
    text-align: center;
    position: relative;
}
section.seven h2::after{
    display: block;
    content: "";
    position: absolute;
    width: 20%;
    left: 40%;
    height: 2px;
    background: #FFCF24;
    margin: 10px 0;
    top: 100%;
}
section.seven .descr{
    color:  #212121;
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
    margin-bottom: 60px;
}
section.seven .wrap{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
section.seven .wrap .item{
    flex: 1;
    border-radius: 8px;
    background: white;
    box-shadow: 2px 2px 40px 6px rgba(0, 0, 0, 0.06);
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section.seven .wrap .item img{
    width: 44.5rem;
    height: 44.3rem;
    border-radius: 1rem;
    object-fit: cover;
    object-position: top;
}
section.seven .wrap .title{
    margin-top: 10px;
    color: var(--, var(--, #212121));
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
section.seven .wrap .text{
    color: var(--, var(--, #212121));
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* SECTION EIGHT */

section.eig{
    position: relative;
    justify-content: flex-start;
    height: 200vh;
    display: none;
}
section.eig img.back{
    position: sticky;
    width: 100%;
    height: auto;
    z-index: -1;
    top: 0;
}
section.eig img.hand{
    position: sticky;
    width: 100%;
    bottom: 0;
    transform: scale(1);
}


/* SECTION NINE */

section.nine{
    position: relative;
    height: 100vh;
    background: #738390;
    display: flex;
    align-items: center;
}
section.nine .wrap{
    display: flex;
    gap: 20px;
    position: relative;
    z-index: 2;
    height: 650px;
}
section.nine .wrap .left{
    flex: 1;
    height: 650px;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #2D2D2D;  
    overflow: auto;
}
section.nine .wrap .left .el{
    height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section.nine .wrap .left .el:nth-child(1){
    margin-bottom: 20px;
}
section.nine .wrap .left .row{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
section.nine .wrap .left .row .item{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 2px 2px 40px 6px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    padding: 16px;
    width: 40rem;   
}
section.nine .wrap .left .row-yel{
    border-radius: 8px;
    background: #FFCF24;
    box-shadow: 2px 2px 40px 6px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 16px;
}
section.nine .wrap .left .row-yel .text{
    width: 80%;
}
section.nine .wrap .el > img{
    width: 100%;
    border-radius: 8px;
}

section.nine .wrap .right{
    flex: 1.2;
    width: 50%;
}
section.nine .wrap .right .none, section.nine .show{
    opacity: 1;
    padding: 45px;
    border-radius: 8px;
    background: linear-gradient(135deg, #FFF 24.82%, #FFF 97.97%);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
section.nine .show{
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 47.2%;
    margin: auto;
    width: 100%;
    z-index: 99999;
}
section.nine .wrap .right img, section.nine .show img{
    width: 100%;
    border-radius: 8px;
}
section.nine .wrap .right h3, section.nine .show h3{
    color: var(--, #191919);
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}
section.nine .wrap .right .descr, section.nine .show .descr{
    color: var(--, #191919);
    text-align: center;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
section.nine .wrap .right form, section.nine .show form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section.nine .wrap .right form input, section.nine .show input{
    width: 100%;
    border-radius: 40px;
    border: 1px solid #738390;
    padding: 9px 16px;
    color: #738390;
    font-size: .9em;
    font-style: normal;
    font-weight: 300;
    line-height: 94.4%; /* 13.216px */
}
section.nine .wrap .right form input[type='submit'], section.nine .show input[type='submit']{
    display: block;
    color: #212121;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 134%; /* 21.44px */
    background:  #FFCF24;
}



/* SECTION TEN */

section.ten{
    position: relative;
    background: #F3FBFD; 
}
section.ten .content{
    padding: 80px 0;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
section.ten .content h2{
    color: #212121;
    text-align: center;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 44.46px */
    margin-bottom: 60px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}

section.ten .item p {
    font-size: 1.6rem;
}

section.ten .item h4 {
    font-size: 2rem;
}

section.ten .item .title_line:after{
    display: block;
  content: "";
  position: relative;
  width: 10%;
  left: 0;
  height: 2px;
  background: #FFCF24;
  margin: 10px 0;
  top: 10%;
}
section.ten .content .wrap{
    display: flex;
    flex-direction: column;
}
section.ten .content .wrap .row{
    display: flex;
    justify-content: space-between;
}
section.ten .content .wrap .row .item{
    flex: 1;
    overflow: hidden;
}
section.ten .content .wrap .row:nth-child(1) .item img{
    width: 100%;
    height: 100%;
}

section.ten .content .wrap .row:nth-child(2) .item img{
    width: 100%;
}

section.ten .wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.back_elem_1 {
    position: absolute;
    z-index: 0;
    height: 200px;
    left: 0;
    top: 5%;
}

.back_elem_2 {
    position: absolute;
    z-index: 0;
    height: 200px;
    right: 0;
    top: 20%;
}

.top-row, .bottom-row {
    display: flex;
    gap: 40px;
}

section.ten .item {
    position: relative;
    flex: 1;
}

section.ten .item .text {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 10px 6px rgba(50, 50, 50, 0.20);
    padding: 24px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 999;
    position: relative;
    height: 100%;
}

section.ten .item svg {
    position: absolute;
    z-index: 1;
    left: -7px;
    top: -7px;
}

section.ten .item .title {
    display: flex;
    flex-direction: column;
}
section.ten .item .problem, section.ten .item .description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.ten .item h4 {
    font-weight: 600;
    color: #212121; 
}

section.ten .item a {
    color: #569AFF;
    font-size: 1.5rem;
    margin-top: 10px;
}

/* SECTION ELEVEN */

section.eleven{
    position: relative;
}
section.eleven img.back{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
section.eleven img.dop-left{
    position: absolute;
    left: 0;
    top: 15%;
}
section.eleven .content{
    padding: 100px 0;
}
section.eleven h2{
    color: var(--, #212121);
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 44.46px */
    text-align: center;
    margin-bottom: 60px;
}
section.eleven .wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
section.eleven .wrap .item{
    padding: 30px;
    padding-right: 100px;
    border-radius: 20px;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.87) 100%);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    cursor: pointer;
}
section.eleven .wrap .item .title{
    color: var #212121;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
section.eleven .wrap .item .text{
    color: var#191919;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    display: none;
}
section.eleven .wrap .item img{
    position: absolute;
    right: 30px;
    top: 20px;
    transform: rotateX(180deg);
    transition: all ease .3s;
}



/* SECTION CONTACTS */

section.contacts{
    background: white;
}
section.contacts .content{
    padding: 80px 0;
}
section.contacts .content h2{
    color: #212121;
    font-size: 4.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 123.5%; /* 44.46px */
    margin-bottom: 60px;
}
section.contacts .content .wrap-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
section.contacts .content .soc{
    display: flex;
    gap: 80px;
}
section.contacts .content .soc .item a{
    display: flex;
    gap: 10px;
    align-items: center;
    color:  #212121;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
section.contacts .content .soc .item img{
    width: 24px;
}
section.contacts .content .soc-right{
    display: flex;
    gap: 10px;
    align-items: center;
}
section.contacts .content .soc-right a{
    padding: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(233, 245, 253);
}
section.contacts .content .soc-right img{
    width: 26px;
}
section.contacts iframe{
    border-radius: 15px;
}


/* FOOTER */

footer{
    background: white;
}
footer .content{
    padding: 40px 0 20px;
    border-top: 1px solid rgba(100, 100, 100, 0.50);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px!important;
    gap: 40px;
}
footer .content .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .content .logo img{
    display: block;
    width: 180px;
}
footer .content .footer-top ul{
    display: flex;
    justify-content: space-between;
    color: #515151;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 94.4%;
}
footer .content .footer-top ul a{
    display: block;
}
footer .footer-top a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
footer .footer-top a:hover{
    font-weight: 600;
}
footer .footer-bottom{
    display: flex;
    justify-content: space-between;
    color:  #515151;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 134%; /* 16.08px */
    padding: 40px 0 10px;
    border-top: 1px solid rgba(200, 200, 200, 0.50);
}
footer .footer-bottom > *{
    flex: 1;
}
footer .footer-bottom .right{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
    font-size: 2.2rem;
}
footer .footer-bottom .center{
    text-align: center;
}

.mobile {
    display: none;
}

.mobile-six {
    display: none;
}

.space-holder {
    position: relative;
    width: 100%;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
  }
  
  .horizontal {
    position: absolute;
    height: 100%;
    will-change: transform;
  }
  
  .cards {
    position: relative;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }
  
  .sample-card {
    position: relative;
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
  }

  .popup-back {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #0000008f;
    top: 0;
    display: none;
  }

  .popup {
    background: #fff;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 9999999;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .popup input {
    width: 100%;
    border-radius: 40px;
    border: 1px solid #738390;
    padding: 9px 16px;
    color: #738390;
    font-size: .9em;
    font-style: normal;
    font-weight: 300;
    line-height: 94.4%;
    margin: 10px 0;
  }

  .popup input[type="submit"] {
    display: block;
    color: #212121;
    text-align: center;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: 134%;
    background: #FFCF24;
  }

  .popup h2 {
    text-align: center;
  }

@media (max-width: 1440px){
    section.six .wrap .item:nth-child(3){
        right: 0;
    }
    section.nine .wrap .left .el:nth-child(1){
        margin-bottom: 5rem;
    }
}



@media screen and (max-width: 800px) {
    .container{
        max-width: 160rem !important;
        margin: 0 auto;
    }
    section.main{
        height: 100vh;
    }
    section {
        padding: 20px 24px;
    }

    section.minus .content .left .descr {
        font-size: 5rem; 
    }

    section.minus .content .left h2 {
        font-size: 10rem;
    }

    section.minus .content .title {
        font-size: 7rem;
        margin-bottom: 15px;
    }

    section.minus .content li {
        font-size: 5rem;
    }

    section.minus .content {
        flex-direction: column;
    }

    section.minus .content ul {
        margin: 0;
        margin-bottom: 20px;
    }

    section.minus .content .dop {
        font-size: 5rem;
    }

    section.zero h2 {
        font-size: 10rem;
        text-align: center;
    }

    section.nine .wrap .left {
        overflow: inherit;
    }

    section.nine .wrap {
        flex-direction: column;
    }

    section.nine .wrap .left .row {
        flex-direction: column;
    }

    section.zero .left img {
        width: 60px;
    }

    section.nine .wrap .left .row .item .text {
        font-size: 6rem;
    }

    section.nine .wrap .left .row-yel .text {
        font-size: 6rem;
        width: 100%;
    }

    section.zero .right .el {
        flex-direction: column-reverse;
        height: 100%;
    }

    section.nine .wrap {
        height: 100% !important;
    }

    section.nine {
        height: 100%;
    }

    .container {
        height: 100%;
        max-width: 100%;
    }

    section.nine .show {
        width: 100%;
    }

    section.two .wrap {
        flex-direction: column;
    }

    section.two .wrap .item img {
        height: 50px;
    }

    .desktop-header {
        display: none;
    }

    section.zero .show {
        padding: 20px !important;
        height: 100%;
    }

    section.nine .wrap .right h3, section.nine .show h3 {
        font-size: 7rem !important;
    }

    section.zero .right .con .tel {
        font-size: 4rem;
    }

    section.zero .right .con img {
        width: 20px !important;
    }

    section.zero .right .con .city {
        font-size: 5rem;
    }

    section.zero .right .con .lit .tel {
        font-size: 5rem;
    }

    section.zero .right .dop {
        font-size: 5rem;
    }

    section.main .content {
        flex-direction: column;
    }

    section.main h1 {
        font-size: 18rem;
    }

    section.main img.main-left {
        display: none;
    }

    section.main h1 {
        margin-bottom: 40px;
    }

    section.main .descr {
        font-size: 6rem;
        width: 85%;
      }

      section.main .right video {
        width: 150%;
        left: 50%;
        transform: translateX(-50%);
        bottom: auto;
        top: 40%;
      }

      section.main .right img {
        width: auto;
        position: absolute;
        object-fit: cover;
      }

      a.my-btn {
        width: 100%;
        text-align: center;
    font-size: 6rem;
    margin-top: 450px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
      }

      section.two img.airplane, section.two img.back-right, section.two img.back-left {
        display: none;
      }

      section.two .wrap .item .text {
        font-size: 6rem;
      }

      section.two h2 {
        font-size: 10rem;
      }

      section.two .descr {
        font-size: 5rem;
      }

      section.two .wrap2 {
        flex-direction: column;
      }

      section.two .wrap2 .item img {
        width: 50px;
      }

      section.two .wrap2 .item .title {
        font-size: 7rem;
      }

      section.two .wrap2 .item .text {
        font-size: 6rem;
      }

      section.two .wrap2 .item ul {
        margin-left: 15px;
      }

      section.two .wrap2 .item .title {
        font-size: 6rem;
        width: 100%;
      }

      section.four .content {
        padding: 0;
      }

      section.four .wrap {
        flex-direction: column;
      }

      section.four h2 {
        font-size: 8rem;
      }

      section.four {
        height: 100%;
      }

      section.four .right .item.active .title {
        font-size: 6rem;
      }

      .content-column {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      section.four .right .item.active .dop {
        font-size: 6rem;
      }

      .five {
        padding: 0;  
        flex-direction: column;
      }

      section.five img.dop {
        width: 100%;
        position: relative;
        margin-top: 50px;
      }

      section.five .wrap .item {
        font-size: 6rem;
        height: 100%;
        width: auto;
        min-width: auto;
      }

      section.five .content {
        margin-top: 0;
        padding: 0;
      }

      section.five h2 {
        width: 80%;
        text-align: center;
        margin: auto;
        font-size: 8rem;
        margin-bottom: 50px;
      }

      section.five .wrap {
        flex-wrap: nowrap;
        width: 100%;
        overflow: auto;
      }

      section.five {
        height: 100%;
        padding-bottom: 30px;
      }

      section.seven h2 {
        font-size: 8rem;
      }

      section.seven {
        height: 100%;
      }

      section.seven .wrap {
        flex-direction: column;
      }

      section.nine .wrap .left .el:nth-child(1) {
        gap: 20px;
      }

      section.nine .wrap .left .row-yel {
        background: #fff;
      }

      section.nine .wrap .left .el {
        height: 100%;
        gap: 20px;
      }

      section.nine .wrap .el:nth-child(2) > img {
        display: none;
      }

      section.nine .wrap .right {
        display: none;
      }

      section.nine .show {
        position: relative;
        left: 0;
      }

      section.nine .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      section.ten .content {
        padding: 0;
      }

      section.eleven .wrap .item img {
        width: 25px;
        top: 30px;
      }

      section.eleven .wrap .item {
        padding-right: 60px;
      }

      section.eleven .wrap .item .title {
        font-size: 6rem;
      }

      section.eleven .wrap .item .text {
        font-size: 5rem;
      }

      footer .footer-bottom .right {
        display: none;
      }

      footer .footer-bottom {
        flex-direction: column-reverse;
        text-align: center;
        font-size: 5rem;
      }

      footer .footer-top {
        display: none;
      }

      .contacts .container:nth-child(1) {
        display: none;
      }

      footer .container {
        display: flex !important;
      }

      footer .content {
        padding: 0;
        border: none;
        width: 100%;
        padding: 0 !important;
      }

      footer .footer-bottom {
        padding: 0;
        border: none;
      }

      section.eleven h2 {
        font-size: 10rem;
      }

      section.eleven .content {
        padding: 30px 0;
      }

      section.nine .content {
        gap: 20px;
        display: flex;
        flex-direction: column;
      }

      section.nine .wrap .right .none, section.nine .show {
        padding: 20px;
      }

      section.nine .wrap .right .descr, section.nine .show .descr {
        font-size: 6.5rem;
      }

      section.three .content {
        flex-direction: column;
      }

      section.three h2 {
        text-align: center;
        font-size: 10rem;
      }

      .parallax img.back-main {
        position: absolute;
        width: 150%;
        top: 100px;
      }

      .parallax .iphone {
        width: 120%;
        position: absolute;
        top: 340px;
        left: 15%;
      }

      .title-section-three {
        position: relative;
        margin-top: 0;
      }

      section.three .descr {
        text-align: center;
        font-size: 6rem;
      }

      section.three .wrap {
        margin-top: 450px;
        padding: 24px;
      }

      section.three .wrap .item img {
        height: 70px;
        display: none;
      }

      .three .item {
        position: relative !important;
      }

      section.three .wrap .item .text .dop {
        padding: 12px;
        font-size: 4.5rem;
        align-items: center;
        display: flex;
      }

      section.three .wrap .item .text .num {
        font-size: 15rem;
      }

      section.three {
        height: 1500px;
      }

      section.three h2::after {
        right: 50%;
        transform: translateX(50%);
      }

      .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .nine .item img {
        width: 44px;
    }

    .six .for-img {
        display: none;
    }

    .mobile-six {
        display: flex;
    }

    section.six h2 {
        font-size: 8rem;
        text-align: center;
        width: 100%;
    }

    section.six .descr {
        font-size: 5rem;
        margin: auto;
        margin-top: 30px;
        text-align: center;
        width: 80%;
    }

    section.six .wrap .item {
        width: 100%;
        position: relative;
        top: auto !important;
        right: auto !important;
        width: 100% !important;
        display: flex;
        height: auto;
        align-items: center !important;
        gap: 10px;
        flex-direction: row !important;
        left: auto !important;
    }

    section.six .wrap .item .text {
        text-align: left;
        font-size: 8rem;
        width: 70%;
    }

    section.six .dop {
        position: relative;
        width: 100%;
        text-align: center;
        font-size: 5rem;
        right: auto;
        margin-top: 20px;
    }

    section.six .wrap {
        gap: 40px;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    section.six .wrap .right-item .text {
        text-align: right;
    }

    section.six h2::after {
        left: 50%;
        transform: translateX(-50%);
    }

    section.seven .wrap .title {
        font-size: 6rem;
        margin: 0;
    }

    section.seven .wrap .text {
        font-size: 6rem;
    }

    section.minus .for-img > img {
        display: none;
    }

    .sticky {
        height: 100% !important;
        position: relative;
    }

    .horizontal {
        position: relative;
    }

    .cards {
        flex-direction: column;
    }

    .sample-card {
        height: 100%;
    }

    section.minus .content {
        padding-top: 0;
    }

    section.ten .item a {
        font-size: 5rem;
    }

    .top-row, .bottom-row {
        flex-direction: column;
    }

    section.ten .content h2 {
        font-size: 8rem;
        width: 90%;
    }

    .back_elem_3_mob {
        position: absolute;
        right: 10%;
        top: 470px;
        width: 100%;
    }

    section.nine .wrap .right form input[type="submit"], section.nine .show input[type="submit"] {
        font-size: 8rem;
    }

    section.ten .item h4 {
        font-size: 9rem;
      }

      section.ten .item p {
        font-size: 6rem;
      }

      section.seven .descr {
        font-size: 6rem;
      }

    section.four .wrap {
        display: flex;
        justify-content: space-between;
        gap: 120px;
      }

      section.four .right .text .title {
        font-size: 6rem;
      }
    
      section.four .right li.active {
        width: 20rem;
        height: 20rem;
        font-size: 8rem;
      }

      section.four .right li {
        width: 4rem;
        height: 4rem;
      }
      section.three{
        overflow: hidden;
      }

      .parallax img.back-main{
        width: 100%;
      }

    section{
        overflow: hidden;
    }
    .parallax .iphone{
        width: 95%;
    }
    .header-mobile{
        display: block;
    }
    .header-mobile .container{
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 5rem;
    }
    .mobile-nav{
        display: none;
    }
    .logo-mobile img{
        width: 60rem;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .hamburger span{
        width: 15rem;
        height:2rem;
        background-color: #191919;
    }
    section.five .wrap .item{
        white-space: nowrap;
    }
    section.five .wrap{
        padding-left: 15rem;
    }
    section.five .wrap::-webkit-scrollbar{
        display: none;
    }
    section.zero{
       background: none !important;
    }
}

@media screen and (max-width: 600px) {
    .container{
        max-width: 100%;
        margin: 0 auto;
    }
}

.three .item:nth-child(1) {
    position: sticky;
    top: 0%;
    z-index: 7;
}
.three .item:nth-child(2) {
    position: sticky;
    top: 12%;
    z-index: 6;
}
.three .item:nth-child(3) {
    position: sticky;
    top: 24%;
    z-index: 5;
}
.three .item:nth-child(4) {
    position: sticky;
    top: 36%;
    z-index: 4;
}
.three .item:nth-child(5) {
    position: sticky;
    top: 48%;
    z-index: 3;
}
.three .item:nth-child(6) {
    position: sticky;
    top: 60%;
    z-index: 2;
}

.three .item img {
    opacity: 0;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

